.footer__container {
  padding: 0rem 6rem 0rem 6rem;
}
.footer__top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.footer__bottom-section {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}
.footer__bottom-section div ul {
  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  padding: 0px;
}
.footer__bottom-section div ul li a {
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  padding: 0px;
}
.footer__nav h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.1px;

  /* text-color */

  color: #252b42;
}
.footer__thumbnail {
  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.footer__icons img {
  margin-right: 1rem;
}

.input{
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0px 0px 5px;
    height: 45px;
    width: 320px;
    outline: none;
}
.btn{
    height: 50px;
    width: 100px;
    background: #23A6F0;
border: 1px solid #E6E6E6;
border-radius: 0px 5px 5px 0px;
}
.heart{
    color: red;
}